/*Peso que se asigna a CSS = especificidad*/
/*Selectores de Peso 0*/
*{
    background-color: burlywood;
}
/*Selectores de Peso 1*/

div{
    background-color: yellow;
}

::after{

}

/*Selectores de peso 10*/
 .elementosVioletas{}
 [width="400px"]{}
 div:hover{}


 /*Peso 100*/

 #elementoVerde{
    background-color: green;
 }

 /* Los estilos inline tienen un peso de 1000, es aquel que se hace directamente en el HTML*/



